SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
RABBITMQ_HOST=
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_VIRTUAL_HOST=
RABBITMQ_QUEUE=
RABBITMQ_TOPIC_EXCHANGE_NAME=
RABBITMQ_ROUTING_KEY=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=us-east-1
S3_ENDPOINT=
S3_BUCKET=streamforge
JOB_MAX_VIDEO_FILE_SIZE_BYTES=53687091200
FFMPEG_THREADS=6
JOB_PROCESSING_POOL_SIZE=1
JOB_S3_EXPIRY_SECONDS=86400
JOB_RETENTION_SECONDS=604800

